@import 'variables', 'responsive';

/* Mapping Table
------------------------------------------------- */
.table {
	width: 100%;
	border-collapse: collapse;

	tr {
		&:nth-child(even) {
			td {
				background-color: $grey--lightest;
			}
		}
	}

	th,
	td {
		padding: 1rem 0.5rem;
		overflow: hidden;
		font-weight: $w-regular;
		font-size: $t-s--small;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	th {
		background-color: $black;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		white-space: wrap;
	}
}

.table-head {
	position: sticky;
	top: 0;
	z-index: 10;
	color: $white;
	text-align: left;
	background-color: $white;
}

/* Responsive
------------------------------------------------- */

@include media-query(sm) {}

@include media-query(md) {}

@include media-query(lg) {
	.table {

		th,
		td {
			padding: 1rem 1.5rem;
			font-size: $t-s;
		}
	}
}

@include media-query(xl) {}

@include media-query(xxl) {}
