@import 'variables', 'responsive', 'mixins';

/* Locate
------------------------------------------------- */
:host {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: $gap--small;
}

.locate-button {
	@include ui-btn(4rem);

	&:hover {
		background-color: $color-primary--light;
	}
}

/* Responsive
------------------------------------------------- */

@include media-query(sm) {}

@include media-query(md) {}

@include media-query(lg) {}

@include media-query(xl) {}

@include media-query(xxl) {}