@import 'variables', 'responsive';

/*
------------------------------------------------- */
td {
	padding: 0.5rem 0;

	&:not(:first-child) {
		padding-left: 2rem;
	}
}

.warning {
	color: $grey;
}

/* Responsive
------------------------------------------------- */

@include media-query(sm) {}

@include media-query(md) {}

@include media-query(lg) {}

@include media-query(xl) {}

@include media-query(xxl) {}
