
.icon-xmark:before { content: '\e817'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-caret-down:before { content: '\e905'; } /* '' */
.icon-check:before { content: '\e924'; } /* '' */
.icon-envelope:before { content: '\e9d5'; } /* '' */
.icon-gift:before { content: '\ea61'; } /* '' */
.icon-info:before { content: '\eaf2'; } /* '' */
.icon-link:before { content: '\eb1a'; } /* '' */
.icon-location-dot:before { content: '\eb24'; } /* '' */
.icon-magnifying-glass:before { content: '\eb2e'; } /* '' */
.icon-map-location-dot:before { content: '\eb38'; } /* '' */
.icon-crosshair:before { content: '\ee11'; } /* '' */
.icon-github:before { content: '\eeb6'; } /* '' */
