$radio-size: 20px;
$checkbox-size: $radio-size;

/* Inputs
------------------------------------------------- */
.input-group {
	position: relative;
}

input {
	font-size: $t-s--small;

	&[type="text"],
	&[type="number"] {
		border: $border-size solid $grey--lighter;
		border-radius: $border-radius--small;
		padding: $gap--xsmall;

		&:hover {
			border-color: $grey--light;
		}

		&:focus {
			outline: none;
			border-color: $color-primary;
		}
	}

	&[type="checkbox"],
	&[type="radio"] {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		appearance: none;
		cursor: pointer;
		margin: 0;
		border: $border-size solid $grey--lighter;
		border-radius: $border-radius--small;
		background-color: $white;
		width: $radio-size;
		height: $radio-size;

		&:hover {
			border-color: $grey--light;
		}

		&:checked {
			border-color: $color-primary;
			background-color: $color-primary;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			border-radius: $border-radius--small;
			background-color: $color-primary;
			width: calc($radio-size / 2);
			height: calc($radio-size / 2);
			content: "";
		}

		&:checked::before {
			opacity: 1;
		}
	}

	&[type="radio"] {
		border-radius: 50%;

		&::before {
			border-radius: 50%;
		}

		&:checked::before {
			background-color: $color-primary;
		}
	}

	&[type="checkbox"] {
		&:checked {
			&:before {
				position: absolute;
				top: calc($radio-size / 4);
				left: calc($radio-size / 3);
				content: "\E924";
				color: $white;
				font-family: "fontello";
			}
		}
	}
}

/* Responsive
------------------------------------------------- */

@include media-query(sm) {
}

@include media-query(md) {
}

@include media-query(lg) {
}

@include media-query(xl) {
}

@include media-query(xxl) {
}
