@import 'variables', 'responsive';

/* Markdown
------------------------------------------------- */

markdown {
	h3 {
		time {
			color: $grey;
			font-style: italic;
			font-size: 0.75em;
			margin-left: 1ch;
			line-height: 1.5em;
		}
	}
}

/* Responsive
------------------------------------------------- */

@include media-query(sm) {}

@include media-query(md) {}

@include media-query(lg) {
	h3 {
		time {
			font-size: 0.5em;
			line-height: 1.75em;
		}
	}
}

@include media-query(xl) {}

@include media-query(xxl) {}