@import 'variables', 'responsive', 'mixins';

/* Page map
------------------------------------------------- */
.button-about {
	@include ui-btn($btn-size);
	position: fixed;
	right: $gap--small;
	bottom: $gap--small;
}

.map-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
}

/* Responsive
------------------------------------------------- */

@include media-query(sm) {}

@include media-query(md) {}

@include media-query(lg) {}

@include media-query(xl) {}

@include media-query(xxl) {}
